
<div class="container show-product">
    <div class="thumbnail">
      <%= image_tag(@product.image_url, class: "img-responsive product-img") %>
      <div class="caption">
        <h3><%= @product.name%></h3>
        <p><%= @product.colour%></p>
        <p><%= @product.description%></p>
        <strong><%= number_to_currency((@product.price), unit: "$") %></strong>
        <br>
        <%= button_to 'Order Now' , orders_path(product_id: @product.id, total: @product.price),class:"btn btn-lg btn-fill btn-info" %>
       <p> Average Rating: 
        <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
       </p>

        <%= form_with(url: '/payments/create') do |form| %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
    
        <p class="actions" > <%= link_to 'Back', products_path %>

          <% if signed_in? && current_user.admin? %>
                <%= link_to 'Edit', edit_product_path %> 
                <%end%>
         </p>
         <%= render 'new_comment' %>
         <%= render 'comments' %>
      </div>
    </div>
</div>
 